/*------------------------------------------------------------------
[Stylesheet]
Color Palette - Onit 114789 114D89 3975B1 003B77
-------------------------------------------------------------------*/

.btn,
.btn-large {
	background-color: #e53935;
}

.btn:hover,
.btn-large:hover {
	background-color: #f44336;
}

.hero_fullscreen.background_solid,
.color_bg {
	background-color: #003B77;
}

a {
	color:#f44336
}
